.classic-accordion {
	position: relative;
	overflow: hidden;
	background-color: #000;
}


.classic-accordion .panel {
	background-image: url(accordion-assets/images/preloader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	overflow: hidden;
	background-color: #FFF;
}


.classic-accordion .shadow-horizontal {
	background: url(accordion-assets/images/shadow.png) repeat-Y;
	position: absolute;
	right: 0;
	width: 25px;
	height: 100%;
}


.classic-accordion .shadow-vertical {
	background: url(accordion-assets/images/shadow_v.png) repeat-x;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
}


.classic-accordion .preloader {
	background:url(accordion-assets/images/preloader2.gif) no-repeat;
	width: 62px;
	height: 14px;
	position: absolute;
	z-index: 15;
}


.classic-accordion .caption {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: absolute;
	z-index: 20;
	visibility: hidden;
	color: #FFF;
	margin: 0;
	padding: 10px;
}


.classic-accordion .active {
	visibility: visible;
}