.classic-accordion {
	position: relative;
	overflow: hidden;
	border: 4px solid #000;
}


.classic-accordion .ca-panel {
	position: absolute;
	display: block;
	overflow: hidden;
	background-color: #FFF;

	/* workaround for Firefox bug that causes panels to dissapear */
	transform: scale(1);
}


.classic-accordion.ca-horizontal .ca-panel {
	height: 100%;
}


.classic-accordion.ca-vertical .ca-panel {
	width: 100%;
}


.classic-accordion .ca-layer {
	position: absolute;
	top: 0;
	left: 0;
}


.classic-accordion .ca-shadow-horizontal {
	background: url(accordion-assets/images/shadow.png) repeat-Y;
	position: absolute;
	right: 0;
	width: 25px;
	height: 100%;
}


.classic-accordion .ca-shadow-vertical {
	background: url(accordion-assets/images/shadow_v.png) repeat-x;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
}