.classic-accordion {
	position: relative;
	border: 4px solid #000;
}

.classic-accordion .ca-mask {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.classic-accordion .ca-panels {
	position: absolute;
}

.classic-accordion.ca-horizontal .ca-panels {
	height: 100%;
}

.classic-accordion.ca-vertical .ca-panels {
	width: 100%;
}

.classic-accordion .ca-panel {
	position: absolute;
	display: block;
	overflow: hidden;
	background-color: #FFF;
}

.classic-accordion.ca-horizontal .ca-panel {
	height: 100%;
	width: auto;
}

.classic-accordion.ca-vertical .ca-panel {
	width: 100%;
	height: auto;
}


.classic-accordion.ca-horizontal .ca-background,
.classic-accordion.ca-horizontal .ca-background-opened {
	display: block;
	height: 100%;
}

.classic-accordion.ca-vertical .ca-background,
.classic-accordion.ca-vertical .ca-background-opened {
	display: block;
	width: 100%;
}

.classic-accordion .ca-background-opened {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.classic-accordion .ca-layer {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.classic-accordion .ca-layer.ca-black {
	color: #FFF;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
}

.classic-accordion .ca-layer.ca-white {
	color: #000;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.7);
}

.classic-accordion .ca-layer.ca-rounded {
	border-radius: 10px;
}

.classic-accordion .ca-layer.ca-padding {
	padding: 4px;
}

.classic-accordion .ca-layer.ca-vertical {
	-moz-transform: translate(-100%) rotate(-90deg);
	-webkit-transform: translate(-100%) rotate(-90deg);
	transform: translate(-100%) rotate(-90deg);
	-moz-transform-origin: right top;
	-webkit-transform-origin: right top;
	transform-origin: right top;
}

.classic-accordion .ca-shadow-horizontal {
	background: url(accordion-assets/images/shadow.png) repeat-Y;
	position: absolute;
	right: 0;
	width: 25px;
	height: 100%;
}

.classic-accordion .ca-shadow-vertical {
	background: url(accordion-assets/images/shadow_v.png) repeat-x;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
}