.classic-accordion {
	position: relative;
	overflow: hidden;
	border: 4px solid #000;
}


.classic-accordion .panel {
	position: absolute;
	display: block;
	overflow: hidden;
}


.classic-accordion .shadow-horizontal {
	background: url(accordion-assets/images/shadow.png) repeat-Y;
	position: absolute;
	right: 0;
	width: 25px;
	height: 100%;
}


.classic-accordion .shadow-vertical {
	background: url(accordion-assets/images/shadow_v.png) repeat-x;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
}